In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/00422/wifi_localization.txt', header = None, delimiter = "\t")
display(df)

       0   1   2   3   4   5   6  7
0    -64 -56 -61 -66 -71 -82 -81  1
1    -68 -57 -61 -65 -71 -85 -85  1
2    -63 -60 -60 -67 -76 -85 -84  1
3    -61 -60 -68 -62 -77 -90 -80  1
4    -63 -65 -60 -63 -77 -81 -87  1
...   ..  ..  ..  ..  ..  ..  .. ..
1995 -59 -59 -48 -66 -50 -86 -94  4
1996 -59 -56 -50 -62 -47 -87 -90  4
1997 -62 -59 -46 -65 -45 -87 -88  4
1998 -62 -58 -52 -61 -41 -90 -85  4
1999 -59 -50 -45 -60 -45 -88 -87  4

[2000 rows x 8 columns]

Separação dos conjuntos de treino e de teste

In [ ]:
dfTarget = df.iloc[0:2000,7]

In [ ]:
train, test, trainTarget, testTarget = train_test_split(df,dfTarget,test_size=0.3,random_state=3)

In [ ]:
display(train)
display(trainTarget)

       0   1   2   3   4   5   6  7
1559 -63 -58 -52 -59 -51 -88 -94  4
1052 -51 -56 -51 -58 -58 -80 -86  3
1797 -58 -56 -44 -60 -47 -84 -85  4
1629 -64 -58 -49 -64 -49 -92 -91  4
1053 -51 -51 -52 -57 -56 -81 -77  3
...   ..  ..  ..  ..  ..  ..  .. ..
952  -37 -57 -51 -39 -71 -71 -72  2
1667 -64 -57 -53 -61 -50 -86 -98  4
1273 -54 -61 -51 -44 -63 -79 -76  3
1688 -58 -54 -44 -59 -47 -83 -86  4
1898 -59 -51 -49 -63 -45 -86 -83  4

[1400 rows x 8 columns]

1559    4
1052    3
1797    4
1629    4
1053    3
       ..
952     2
1667    4
1273    3
1688    4
1898    4
Name: 7, Length: 1400, dtype: int64

Treinamento do modelo

In [ ]:
logmodel = LogisticRegression(max_iter=3684)
logmodel.fit(train,trainTarget)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=3684,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Predição do conjunto de teste

In [ ]:
results = logmodel.predict(test)
display(results)

array([2, 3, 3, 4, 1, 1, 1, 2, 1, 2, 3, 1, 3, 4, 2, 2, 1, 2, 2, 1, 1, 4,
       4, 1, 2, 3, 3, 4, 1, 3, 2, 1, 4, 2, 2, 1, 3, 2, 4, 1, 2, 3, 1, 4,
       2, 2, 2, 4, 1, 3, 3, 2, 1, 1, 1, 2, 1, 2, 4, 4, 1, 4, 1, 4, 1, 4,
       3, 3, 4, 2, 4, 1, 2, 3, 4, 1, 2, 3, 2, 1, 2, 4, 4, 3, 1, 1, 2, 4,
       4, 1, 3, 1, 3, 4, 3, 3, 4, 3, 2, 2, 2, 3, 3, 1, 3, 1, 1, 3, 4, 1,
       4, 3, 4, 3, 4, 1, 3, 3, 4, 4, 2, 2, 1, 4, 2, 3, 2, 2, 1, 4, 4, 1,
       2, 2, 1, 4, 1, 2, 2, 1, 3, 4, 3, 4, 2, 2, 3, 2, 4, 4, 4, 4, 3, 2,
       4, 4, 1, 2, 2, 4, 1, 1, 1, 1, 4, 4, 2, 3, 1, 1, 3, 4, 3, 4, 3, 4,
       2, 3, 1, 4, 4, 1, 3, 4, 4, 2, 3, 4, 4, 3, 2, 3, 3, 3, 1, 1, 3, 3,
       2, 4, 3, 1, 3, 2, 3, 4, 1, 4, 4, 4, 4, 1, 1, 1, 4, 1, 3, 3, 2, 3,
       1, 4, 1, 4, 3, 3, 2, 1, 2, 2, 3, 3, 1, 1, 4, 1, 4, 1, 2, 1, 4, 4,
       1, 2, 3, 3, 4, 2, 1, 1, 3, 1, 1, 2, 3, 3, 4, 2, 4, 2, 1, 1, 4, 2,
       3, 1, 3, 1, 2, 2, 4, 3, 4, 3, 3, 4, 4, 3, 3, 2, 4, 3, 1, 4, 1, 4,
       3, 1, 4, 4, 4, 4, 2, 4, 2, 2, 3, 2, 2, 3, 2, 1, 3, 2, 4, 3, 1, 4,
       4, 1, 3, 3, 1, 3, 1, 3, 1, 4, 4, 4, 2, 2, 2, 2, 1, 3, 2, 3, 4, 3,
       4, 1, 1, 2, 4, 1, 3, 4, 2, 3, 1, 2, 4, 2, 4, 2, 1, 3, 3, 3, 1, 4,
       1, 1, 1, 4, 3, 1, 2, 2, 3, 2, 4, 1, 1, 1, 3, 1, 3, 3, 2, 4, 1, 1,
       1, 1, 1, 2, 1, 3, 2, 3, 4, 2, 3, 1, 4, 2, 2, 4, 2, 2, 4, 3, 2, 4,
       2, 2, 2, 2, 3, 1, 2, 2, 2, 2, 3, 1, 2, 3, 2, 4, 1, 3, 1, 2, 1, 3,
       4, 2, 4, 4, 2, 2, 4, 3, 2, 4, 1, 4, 2, 2, 1, 2, 3, 4, 1, 1, 3, 2,
       3, 3, 2, 4, 2, 4, 2, 1, 1, 4, 2, 2, 2, 2, 1, 4, 3, 1, 4, 4, 1, 1,
       3, 3, 4, 2, 3, 1, 2, 3, 4, 4, 1, 1, 4, 1, 1, 4, 1, 1, 1, 4, 4, 1,
       3, 1, 4, 1, 3, 2, 3, 4, 4, 2, 3, 4, 1, 1, 1, 2, 2, 2, 1, 3, 4, 1,
       4, 1, 1, 4, 1, 1, 1, 3, 4, 4, 1, 3, 3, 2, 2, 3, 4, 1, 1, 1, 3, 3,
       2, 1, 3, 3, 4, 3, 2, 4, 1, 3, 1, 3, 3, 3, 4, 4, 2, 1, 3, 1, 2, 2,
       1, 1, 2, 1, 1, 4, 2, 3, 3, 1, 2, 3, 3, 3, 3, 2, 3, 4, 3, 3, 1, 4,
       2, 3, 1, 3, 4, 4, 4, 3, 2, 3, 1, 4, 4, 3, 2, 1, 3, 2, 2, 4, 2, 4,
       3, 3, 1, 1, 3, 2])

In [ ]:
score = logmodel.score(test,testTarget)
print(score)

0.9966666666666667

In [ ]:
print(classification_report(results,testTarget))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00       161
           2       1.00      1.00      1.00       143
           3       1.00      0.99      0.99       148
           4       0.99      1.00      0.99       148

    accuracy                           1.00       600
   macro avg       1.00      1.00      1.00       600
weighted avg       1.00      1.00      1.00       600

Treinamento do novo modelo

In [ ]:
logmodel2 = LogisticRegression(max_iter=6630, C=1.63)
logmodel2.fit(train,trainTarget)

LogisticRegression(C=1.63, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=6630,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Predição do conjunto de teste

In [ ]:
results2 = logmodel2.predict(test)
display(results)

array([2, 3, 3, 4, 1, 1, 1, 2, 1, 2, 3, 1, 3, 4, 2, 2, 1, 2, 2, 1, 1, 4,
       4, 1, 2, 3, 3, 4, 1, 3, 2, 1, 4, 2, 2, 1, 3, 2, 4, 1, 2, 3, 1, 4,
       2, 2, 2, 4, 1, 3, 3, 2, 1, 1, 1, 2, 1, 2, 4, 4, 1, 4, 1, 4, 1, 4,
       3, 3, 4, 2, 4, 1, 2, 3, 4, 1, 2, 3, 2, 1, 2, 4, 4, 3, 1, 1, 2, 4,
       4, 1, 3, 1, 3, 4, 3, 3, 4, 3, 2, 2, 2, 3, 3, 1, 3, 1, 1, 3, 4, 1,
       4, 3, 4, 3, 4, 1, 3, 3, 4, 4, 2, 2, 1, 4, 2, 3, 2, 2, 1, 4, 4, 1,
       2, 2, 1, 4, 1, 2, 2, 1, 3, 4, 3, 4, 2, 2, 3, 2, 4, 4, 4, 4, 3, 2,
       4, 4, 1, 2, 2, 4, 1, 1, 1, 1, 4, 4, 2, 3, 1, 1, 3, 4, 3, 4, 3, 4,
       2, 3, 1, 4, 4, 1, 3, 4, 4, 2, 3, 4, 4, 3, 2, 3, 3, 3, 1, 1, 3, 3,
       2, 4, 3, 1, 3, 2, 3, 4, 1, 4, 4, 4, 4, 1, 1, 1, 4, 1, 3, 3, 2, 3,
       1, 4, 1, 4, 3, 3, 2, 1, 2, 2, 3, 3, 1, 1, 4, 1, 4, 1, 2, 1, 4, 4,
       1, 2, 3, 3, 4, 2, 1, 1, 3, 1, 1, 2, 3, 3, 4, 2, 4, 2, 1, 1, 4, 2,
       3, 1, 3, 1, 2, 2, 4, 3, 4, 3, 3, 4, 4, 3, 3, 2, 4, 3, 1, 4, 1, 4,
       3, 1, 4, 4, 4, 4, 2, 4, 2, 2, 3, 2, 2, 3, 2, 1, 3, 2, 4, 3, 1, 4,
       4, 1, 3, 3, 1, 3, 1, 3, 1, 4, 4, 4, 2, 2, 2, 2, 1, 3, 2, 3, 4, 3,
       4, 1, 1, 2, 4, 1, 3, 4, 2, 3, 1, 2, 4, 2, 4, 2, 1, 3, 3, 3, 1, 4,
       1, 1, 1, 4, 3, 1, 2, 2, 3, 2, 4, 1, 1, 1, 3, 1, 3, 3, 2, 4, 1, 1,
       1, 1, 1, 2, 1, 3, 2, 3, 4, 2, 3, 1, 4, 2, 2, 4, 2, 2, 4, 3, 2, 4,
       2, 2, 2, 2, 3, 1, 2, 2, 2, 2, 3, 1, 2, 3, 2, 4, 1, 3, 1, 2, 1, 3,
       4, 2, 4, 4, 2, 2, 4, 3, 2, 4, 1, 4, 2, 2, 1, 2, 3, 4, 1, 1, 3, 2,
       3, 3, 2, 4, 2, 4, 2, 1, 1, 4, 2, 2, 2, 2, 1, 4, 3, 1, 4, 4, 1, 1,
       3, 3, 4, 2, 3, 1, 2, 3, 4, 4, 1, 1, 4, 1, 1, 4, 1, 1, 1, 4, 4, 1,
       3, 1, 4, 1, 3, 2, 3, 4, 4, 2, 3, 4, 1, 1, 1, 2, 2, 2, 1, 3, 4, 1,
       4, 1, 1, 4, 1, 1, 1, 3, 4, 4, 1, 3, 3, 2, 2, 3, 4, 1, 1, 1, 3, 3,
       2, 1, 3, 3, 4, 3, 2, 4, 1, 3, 1, 3, 3, 3, 4, 4, 2, 1, 3, 1, 2, 2,
       1, 1, 2, 1, 1, 4, 2, 3, 3, 1, 2, 3, 3, 3, 3, 2, 3, 4, 3, 3, 1, 4,
       2, 3, 1, 3, 4, 4, 4, 3, 2, 3, 1, 4, 4, 3, 2, 1, 3, 2, 2, 4, 2, 4,
       3, 3, 1, 1, 3, 2])

In [ ]:
score2 = logmodel2.score(test,testTarget)
print(score2)

1.0

In [ ]:
print(classification_report(results,testTarget))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00       161
           2       1.00      1.00      1.00       143
           3       1.00      0.99      0.99       148
           4       0.99      1.00      0.99       148

    accuracy                           1.00       600
   macro avg       1.00      1.00      1.00       600
weighted avg       1.00      1.00      1.00       600