In [5]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split

In [15]:
df = pd.read_csv('wifi_localization.txt', header = None, delimiter = "\t")
df.head()

    0   1   2   3   4   5   6  7
0 -64 -56 -61 -66 -71 -82 -81  1
1 -68 -57 -61 -65 -71 -85 -85  1
2 -63 -60 -60 -67 -76 -85 -84  1
3 -61 -60 -68 -62 -77 -90 -80  1
4 -63 -65 -60 -63 -77 -81 -87  1

Separação dos conjuntos de treino e de teste

In [7]:
dfTarget = df.iloc[0:2000,7]
display(dfTarget)

0       1
1       1
2       1
3       1
4       1
       ..
1995    4
1996    4
1997    4
1998    4
1999    4
Name: 7, Length: 2000, dtype: int64

In [8]:
train, test, trainTarget, testTarget = train_test_split(df,dfTarget,test_size=0.2,random_state=3)

In [9]:
display(train)
display(trainTarget)

       0   1   2   3   4   5   6  7
1478 -46 -51 -55 -42 -62 -79 -78  3
87   -71 -62 -65 -68 -83 -85 -86  1
750  -36 -56 -57 -46 -68 -68 -70  2
838  -34 -61 -52 -27 -61 -67 -69  2
549  -41 -57 -51 -40 -66 -78 -71  2
...   ..  ..  ..  ..  ..  ..  .. ..
952  -37 -57 -51 -39 -71 -71 -72  2
1667 -64 -57 -53 -61 -50 -86 -98  4
1273 -54 -61 -51 -44 -63 -79 -76  3
1688 -58 -54 -44 -59 -47 -83 -86  4
1898 -59 -51 -49 -63 -45 -86 -83  4

[1600 rows x 8 columns]

1478    3
87      1
750     2
838     2
549     2
       ..
952     2
1667    4
1273    3
1688    4
1898    4
Name: 7, Length: 1600, dtype: int64

Treinamento do modelo

In [10]:
logmodel = LogisticRegression(max_iter=1000000)
logmodel.fit(train,trainTarget)

LogisticRegression(max_iter=1000000)

Predição do conjunto de teste

In [11]:
results = logmodel.predict(test)
display(results)

array([2, 3, 3, 4, 1, 1, 1, 2, 1, 2, 3, 1, 3, 4, 2, 2, 1, 2, 2, 1, 1, 4,
       4, 1, 2, 3, 3, 4, 1, 3, 2, 1, 4, 2, 2, 1, 3, 2, 4, 1, 2, 3, 1, 4,
       2, 2, 2, 4, 1, 3, 3, 2, 1, 1, 1, 2, 1, 2, 4, 4, 1, 4, 1, 4, 1, 4,
       3, 3, 4, 2, 4, 1, 2, 3, 4, 1, 2, 3, 2, 1, 2, 4, 4, 3, 1, 1, 2, 4,
       4, 1, 3, 1, 3, 4, 3, 3, 4, 3, 2, 2, 2, 3, 3, 1, 3, 1, 1, 3, 4, 1,
       4, 3, 4, 3, 4, 1, 3, 3, 4, 4, 2, 2, 1, 4, 2, 3, 2, 2, 1, 4, 4, 1,
       2, 2, 1, 4, 1, 2, 2, 1, 3, 4, 3, 4, 2, 2, 3, 2, 4, 4, 4, 4, 3, 2,
       4, 4, 1, 2, 2, 4, 1, 1, 1, 1, 4, 4, 2, 3, 1, 1, 3, 4, 3, 4, 3, 4,
       2, 3, 1, 4, 4, 1, 3, 4, 4, 2, 3, 4, 4, 3, 2, 3, 3, 3, 1, 1, 3, 3,
       2, 4, 3, 1, 3, 2, 3, 4, 1, 4, 4, 4, 4, 1, 1, 1, 4, 1, 3, 3, 2, 3,
       1, 4, 1, 4, 3, 3, 2, 1, 2, 2, 3, 3, 1, 1, 4, 1, 4, 1, 2, 1, 4, 4,
       1, 2, 3, 3, 4, 2, 1, 1, 3, 1, 1, 2, 3, 3, 4, 2, 4, 2, 1, 1, 4, 2,
       3, 1, 3, 1, 2, 2, 4, 3, 4, 3, 3, 4, 4, 3, 3, 2, 4, 3, 1, 4, 1, 4,
       3, 1, 4, 4, 4, 4, 2, 4, 2, 2, 3, 2, 2, 3, 2, 1, 3, 2, 4, 3, 1, 4,
       4, 1, 3, 3, 1, 3, 1, 3, 1, 4, 4, 4, 2, 2, 2, 2, 1, 3, 2, 3, 4, 3,
       4, 1, 1, 2, 4, 1, 3, 4, 2, 3, 1, 2, 4, 2, 4, 2, 1, 3, 3, 3, 1, 4,
       1, 1, 1, 4, 3, 1, 2, 2, 3, 2, 4, 1, 1, 1, 3, 1, 3, 3, 2, 4, 1, 1,
       1, 1, 1, 2, 1, 3, 2, 3, 4, 2, 3, 1, 4, 2, 2, 4, 2, 2, 4, 3, 2, 4,
       2, 2, 2, 2])

In [12]:
score = logmodel.score(test,testTarget)
print(score)

0.9975

In [13]:
print(classification_report(results,testTarget))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00       105
           2       1.00      1.00      1.00        96
           3       1.00      0.99      0.99        96
           4       0.99      1.00      1.00       103

    accuracy                           1.00       400
   macro avg       1.00      1.00      1.00       400
weighted avg       1.00      1.00      1.00       400